[class^="sg-swatch"],
[class*=" sg-swatch"] {
  position: relative;
}

.sg-swatch--outline {
  width: em($ratio--m);
  height: em($ratio--m);

  @include margin(null auto em($ratio--b));

  border-width: $line--l;
  border-style: solid;
  border-radius: 50%;
}

.sg-swatch--circle {
  width: em($ratio--xl);
  height: em($ratio--xl);

  @include margin(null auto em($ratio--b));

  border-radius: 50%;
}

.sg-swatch--rectangle {
  padding-bottom: 60%;
}

.sg-swatch--text {
  line-height: em($height--b);
  // @include padding(em($ratio--s) null);
  // font-size: em($ratio--m);
}

// .sg-swatch--full {
//   height: 25vh;
// }
