$kss-sidebar: 20em;
$kss-row: em(40);

$kss-stroke: 1px;

$kss-color-light:  #CCC;
$kss-color-medium: #AAA;
$kss-color-dark:   #444;
$kss-color-black:  #000;

$kss-unit-medium: em(20);
$kss-unit-base:   em($default__size);
$kss-unit-small:  em(12);
$kss-unit-xsmall: em(6);
