$html-heights: "";

@each $height-letter, $height-value in $height-group {

  $html-heights: $html-heights + '<div class="g-height height--#{$height-letter} pseudo-height--#{$height-letter}">#{$height-letter}&emsp;</div>\A';

}

/*
Heights

Common block element heights. Perfect for buttons, inputs, forms etc.

Markup:
#{$html-heights}

Styleguide 1.5.
*/

.g-height {
  color: chroma(0, 400);
  background-color: chroma(0, 000);

  text-align: center;
  text-transform: uppercase;

  & + & {
    margin-top: $kss-unit-medium;
  }
}
