$kss-width: 200;

// Wrappers
.kss-header {
  padding: em($ratio--b) 0 em($ratio--b) em($ratio--b);

  @include collapse-children;

  @include media($large) {
    padding: em($ratio--m) 0 em($ratio--m) em($ratio--m);
  }
  @include media($desktop) {
    @include position(fixed, 0 null 0 0);
    z-index: $index--b;

    width: em($kss-width);

    overflow-y: auto;
  }
}

.kss-header__link {
  display: block;
  text-decoration: none;

  &:link, &:visited {
    color: $grey--700;
  }
  @include state--hover {
    color: $grey--900;
  }
}

.kss-main {
  padding: em($ratio--s);


  @include media($tablet) {
    padding: em($ratio--b);
  }
  @include media($desktop) {
    @include collapse-children;

    padding: em($ratio--m);

    margin-left: em($kss-width);
  }
}

// Navigation
[class^="kss-menu--"],
[class*=" kss-menu--"] {
  list-style: none;
  padding-left: 0;
}
.kss-menu--main {
  margin-bottom: 0;

  li {
    line-height: em($height--s);
    border-top: $line--s solid $grey--100;
  }

  @include media($tablet) {
    @include clearfix;
  }
  @include media($phablet) {
    & > li {
      @include span-columns(2);
      @include omega(3n);
    }
  }
  @include media($tablet) {
    & > li {
      @include span-columns(2);
      @include omega(4n);
    }
  } 
}
.kss-menu--sub {
  margin-bottom: em($ratio--b);
  font-size: em($unit--s);

  a {
    @include state--link {
      color: $grey--400;
    }
    @include state--active {
      color: $grey--600;
    }
  }
}

// Item
.kss-item__info {
  @include clearfix;

  margin-bottom: em($ratio--b);
  
  .kss-item + .kss-item & {
    margin-top: em($ratio--l);
  }
}
.kss-item__title {
  @include margin(0 null);

  @include media($desktop) {
    @include span-columns(9);
  }
}
.kss-small {
  display: block;

  color: $grey--300;

  p {
    @include margin(0 null);
  }
}
.kss-item__content {
}

.kss-example {
  @include media($desktop) {
    @include span-columns(9);
  }
}

.kss-description {
  @include collapse-children;

  @include media($desktop) {
    @include span-columns(3);
  }
}

.kss-reference {
  margin-right: em($ratio--s);
}

.kss-variant {
  @include padding(em($ratio--b) null);

  @include media($desktop) {
    @include clearfix;
  }

  & + & {
    border-top: $line--s solid $grey--100;
  }

}
.kss-variant__title {
  margin-bottom: em($ratio--xxs);

  color: $grey--600;
}

.kss-markup {
  @include clearfix;

  margin-top: em($ratio--b);

  font-size: em($unit--xs);
}

.kss-toggle {
  float: left;

  margin-right: em($ratio--b);
}

.kss-preformat {
  display: none;

  .kss-markup & {
    // prism.css specificity issue.
    @include margin(0 null);
  }

  .kss-markup--open & {
    display: block;
  }
}

