/*
Ratios

Golden ratio increments derived from base font-size.

Markup:
<div class="g-ratio--xxh">XXH</div>
<div class="g-ratio--xh">XH</div>
<div class="g-ratio--h">H</div>
<div class="g-ratio--xxl">XXL</div>
<div class="g-ratio--xl">XL</div>
<div class="g-ratio--l">L</div>
<div class="g-ratio--m">M</div>
<div class="g-ratio--b">B</div>
<div class="g-ratio--s">S</div>
<div class="g-ratio--xs">XS</div>
<div class="g-ratio--xxs">XXS</div>
<div class="g-ratio--t">T</div>

Styleguide 1.2.
*/

[class^="g-ratio--"],
[class*=" g-ratio--"] {
  display: inline-block;
  vertical-align: top;

  margin-right: em($ratio--b);
  margin-bottom: em($ratio--b);

  color: $grey--200;

  &:after {
    display: block;

    margin-top: em($ratio--xs);
    
    color: $grey--400;
    background-color: $grey--000;

    text-align: center;
  }
}

.g-ratio--xxh:after {
  min-width: em($ratio--xxh);
  line-height: em($ratio--xxh);
  content: "#{$ratio--xxh}";
}
.g-ratio--xh:after {
  min-width: em($ratio--xh);
  line-height: em($ratio--xh);
  content: "#{$ratio--xh}";
}
.g-ratio--h:after {
  min-width: em($ratio--h);
  line-height: em($ratio--h);
  content: "#{$ratio--h}";
}
.g-ratio--xxl:after {
  min-width: em($ratio--xxl);
  line-height: em($ratio--xxl);
  content: "#{$ratio--xxl}";
}
.g-ratio--xl:after {
  min-width: em($ratio--xl);
  line-height: em($ratio--xl);
  content: "#{$ratio--xl}";
}
.g-ratio--l:after {
  min-width: em($ratio--l);
  line-height: em($ratio--l);
  content: "#{$ratio--l}";
}
.g-ratio--m:after {
  min-width: em($ratio--m);
  line-height: em($ratio--m);
  content: "#{$ratio--m}";
}
.g-ratio--b:after {
  min-width: em($ratio--b);
  line-height: em($ratio--b);
  content: "#{$ratio--b}";
}
.g-ratio--s:after {
  min-width: em($ratio--s);
  line-height: em($ratio--s);
  content: "#{$ratio--s}";
}
.g-ratio--xs:after {
  min-width: em($ratio--xs);
  line-height: em($ratio--xs);
  content: "#{$ratio--xs}";
}
.g-ratio--xxs:after {
  min-width: em($ratio--xxs);
  line-height: em($ratio--xxs);
  content: "#{$ratio--xxs}";
}
.g-ratio--t:after {
  min-width: em($ratio--t);
  line-height: em($ratio--t);
  content: "#{$ratio--t}";
}
