/*
Spacing

.g-spacing--xxs - Extremely small spacing.
.g-spacing--xs - Smaller spacing.
.g-spacing--s - Small spacing.
.g-spacing--b - Base spacing.
.g-spacing--m - Medium spacing.
.g-spacing--l - Big spacing.

Markup:
<span class="{$modifiers}">A rather long text that<br>looks great</span>

Styleguide 1.4.
*/

[class^="g-spacing--"],
[class*=" g-spacing--"] {
  &:after {
    margin-left: em($ratio--xs);
    color: $grey--100;
  }
}

.g-spacing--l {
  font-size: em($unit--xxs);
  line-height: $spacing--l;
  &:after {
    content: "#{$spacing--l}";
  }
}
.g-spacing--m {
  font-size: em($ratio--s);
  line-height: $spacing--m;
  &:after {
    content: "#{$spacing--m}";
  }
}
.g-spacing--b {
  line-height: $spacing--b;
  &:after {
    content: "#{$spacing--b}";
  }
}
.g-spacing--s {
  font-size: em($unit--l);
  line-height: $spacing--s;
  &:after {
    content: "#{$spacing--s}";
  }
}
.g-spacing--xs {
  font-size: em($ratio--m);
  line-height: $spacing--xs;
  &:after {
    content: "#{$spacing--xs}";
  }
}
.g-spacing--xxs {
  font-size: em($unit--xh);
  line-height: $spacing--xxs;
  &:after {
    content: "#{$spacing--xxs}";
  }
}
