.g-section {
  @include clearfix;

  & + & {
    margin-top: em($ratio--l);
  }
}

[data-toggle] {
  cursor: pointer;
}

[class^="g-group--"],
[class*=" g-group--"] {
  @include clearfix;
}
.g-group--greys {
  margin-top: em($ratio--m);
}

.g-group__column,
.g-item {
  float: left;

  text-align: center;
}

.g-title {
  text-transform: capitalize;
}

// Overlay.
.g-overlay {
  @include stretch-overlay;
  @include pseudo-center--parent;
}

.g-overlay__content {
  display: inline-block;

  vertical-align: middle;
}

.g-small {
  display: block;

  margin-top: em($ratio--b);

  opacity: .5;
}

[class^="g-glyph"],
[class*=" g-glyph"] {
  & + & {
    margin-left: em($ratio--xl);
  }
}
.g-glyph--white {
  color: white;
}
.g-glyph--black {
  color: black;
}
