// Toggled with [data-nav].
.nav--is-open {
  & + .chj-nav__list {
    display: block;
  }
}

@include media($phone) {
  .chj-nav__list {
    display: none;
  }
}
@include media($tablet__up) {
  .chj-nav__toggle {
    display: none;
  }
}