.o-form__fieldset {
  padding: em($ratio--b);
  margin: 0;

  border: $line--s solid $grey-2;
  border-radius: $radius--b;
}

.o-form__table {
  td + td {
    padding-left: em($ratio--m);
  }
  tr + tr {
    td {
      padding-top: em($ratio--b);
    }
  }
}
