[class^="o-hero--"],
[class*=" o-hero--"] {
  position: relative;
}
.o-hero--full {
  height: 100vh;
}

[class^="o-hero__overlay"],
[class*=" o-hero__overlay"] {
  @include stretch-overlay;
  color: white;
  z-index: $index--b;
}

.o-hero__content {
  padding: em($ratio--b);
  @include collapse-children;
}

.o-hero__background {
  background-color: $grey-8;
}

.o-hero__image {
  opacity: .625;
  @include margin(null auto);
}

// Centered variant.
.o-hero__overlay--center {
  @include pseudo-center--parent;

  margin-left: em(-$ratio--b); // Offseting white-space from pseudo-centering

  text-align: center;
  white-space: nowrap;
  
  .o-hero__content {
    @include pseudo-center--child;
    white-space: normal;
  }
}
