/*
Icon button

.o-icon-button--big - Big icon size.
.o-icon-button--medium - Medium size.
.o-icon-button - Default size.
.o-icon-button--small - Small icon.

Markup:
<a href="#" class="{$modifiers} ss-write"></a>

Styleguide 4.21.
*/

[class^="o-icon-button"],
[class*=" o-icon-button"] {
  text-decoration: none;
  &:before {
    margin-right: em($ratio--xxs);
  }
  &:after {
    margin-left: em($ratio--xxs);
  }
}

.o-icon-button {
  &:before, &:after {
    font-size: #{$icon--b}px;
  }
}

.o-icon-button--small {
  &:before, &:after {
    font-size: #{$icon--s}px;
  }
}

.o-icon-button--medium {
  &:before, &:after {
    font-size: #{$icon--m}px;
  }
}

.o-icon-button--big {
  &:before, &:after {
    font-size: #{$icon--l}px;
  }
}
