// An icon object using .ss- classes.
[class^="ss-"]:before,
[class*=" ss-"]:before,
[class^="ss-"].right:after,
[class*=" ss-"].right:after {
  line-height: 1;
  vertical-align: middle;
}

.o-icon {
  font-size: #{$icon--b}px;
}
.o-icon--small {
  font-size: #{$icon--s}px;
}
.o-icon--medium {
  font-size: #{$icon--m}px;
}
.o-icon--big {
  font-size: #{$icon--l}px;
}