// Text input.
.o-input {
  height: em($height--b);
  padding: 0 em($ratio--s);

  background-color: transparent;

  border: $line--s solid $grey-4;
  border-radius: $radius--b;
  
  @include state--hover {
    border-color: $grey-6;
  }
  @include state--focus {
    border-color: $color-1;
    outline: 0;
  }
  // iOS reset.
  -webkit-appearance: none;
  
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 em($ratio--l) $grey-1 inset;
    border-color: $grey-2;
  }
}
