// Text input.
.o-input {
  height: em($height--b);
  padding: 0 em($ratio--s);

  background-color: transparent;

  border: $line--s solid $c-grey4;
  border-radius: $radius--b;
  
  @include state--hover {
    border-color: $c-grey6;
  }
  @include state--focus {
    border-color: $c-color1;
    outline: 0;
  }
  // iOS reset.
  -webkit-appearance: none;
  
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 em($ratio--l) $c-grey1 inset;
    border-color: $c-grey2;
  }
}