[class^="o-note"],
[class*=" o-note"] {
  display: inline-block;
  line-height: em($height--b);

  @include padding(null em($ratio--b));

  border-radius: $radius--b;
}

.o-note {
  background-color: $grey-2;
}

.o-note--positive {
  color: $color-1--dark;
  background-color: $color-1--light;
}

// .o-note--negative {
//   color: $color-4--dark;
//   background-color: $color-4--light;
// }
