// Radio
//
// Markup:
// <label class="o-radio">
//   <input class="o-radio__input" type="radio" name="radio-group">
//   <span class="o-radio__mark"></span>
//   <span class="o-radio__text">Pick me please</span>
// </label>
// <label class="o-radio">
//   <input class="o-radio__input" type="radio" name="radio-group">
//   <span class="o-radio__mark"></span>
//   <span class="o-radio__text">No, pick me</span>
// </label>
//
// Styleguide 4.33.

.o-radio {
  cursor: pointer;
  position: relative;
  line-height: em($height--b);
  
  & + & {
    margin-left: em($ratio--b);
  }
}

.o-radio__input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.o-radio__mark {
  position: relative;
  display: inline-block;

  width: em($ratio--b);
  height: em($ratio--b);

  margin-right: em($ratio--s);

  border: $line--b solid $grey--200;
  border-radius: 50%;
  vertical-align: middle;

  :checked + & {
    border-color: $color1--500;
    background-color: $color1--300;
  }
}

.o-radio__text {
  color: $grey--500;

  :checked + * + & {
    color: $color1--700;
  }
}
