.o-radio {
  cursor: pointer;
  position: relative;
  line-height: em($height--b);
  & + & {
    margin-left: em($ratio--b);
  }
}

.o-radio__input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.o-radio__mark {
  position: relative;
  display: inline-block;

  width: em($ratio--b);
  height: em($ratio--b);

  margin-right: em($ratio--s);

  border: $line--b solid $grey-3;
  border-radius: 50%;
  vertical-align: middle;

  :checked + & {
    border-color: $color-1;
    background-color: $color-1--light;
  }
}

.o-radio__text {
  color: $grey-4;
  :checked + * + & {
    color: $color-1--dark;
  }
}
