// Slider
//
// Using Swiper Javascript library.
//
// Markup:
// <div class="o-slider swiper-container" data-slider>
//   <ul class="o-slider__list swiper-wrapper">
//     <li class="o-slider__item swiper-slide">
//       <img class="o-slider__image" src="http://unsplash.it/600/300/?random" alt="Slider image">
//     </li>
//     <li class="o-slider__item swiper-slide">
//       <img class="o-slider__image" src="http://unsplash.it/600/300/?random" alt="Slider image">
//     </li>
//   </ul>
//   <a href="#" class="o-slider__arrow--prev" data-swiper--prev>&larr;</a>
//   <a href="#" class="o-slider__arrow--next" data-swiper--next>&rarr;</a>
// </div>
//
// Styleguide 4.54.

.o-slider {
  user-select: none;
}
.o-slider__list {
  @include reset-list;
  
  &:hover {
    cursor: grab;
  }
}

.o-slider__image {
  @include margin(null auto);
}

[class^="o-slider__arrow"],
[class*=" o-slider__arrow"] {
  padding: em($ratio--b);
  text-decoration: none; 
}

.o-slider__arrow--prev {
  .slider--start & {
    opacity: .375;
  }
}

.o-slider__arrow--next {
  .slider--end & {
    opacity: .375;
  }
}
