[class^="o-submit"],
[class*=" o-submit"] {
  height: em($height--b);
  padding: 0 em($ratio--b);

  background-color: transparent;
  color: $c-link;

  border: $line--b solid;
  border-radius: $radius--b;

  @include state--hover {
    color: $c-link--dark;
    border-color: $c-link;
  }
  @include state--focus {
    color: $c-link--dark;
    background-color: $c-link--light;
    border-color: $c-link;
    outline: 0;
  }
}

// .o-submit--reset {
//   color: $color-4;

//   @include state--hover {
//     color: $color-4--dark;
//     border-color: $color-4;
//   }
//   @include state--focus {
//     color: $color-4--dark;
//     background-color: $color-4--light;
//     border-color: $color-4;
//   }
// }
