.o-submit {
  height: em($height--b);
  padding: 0 em($ratio--b);
  border: $line--s solid;
  background-color: transparent;
  // iOS fix.
  border-radius: 0;
  @include state--focus {
    outline: 0;
  }
}