.o-tabs {
  padding-left: 0;
  @include clearfix;
}
.o-tabs__item {
  display: inline;
}
.o-tabs__link {
  display: inline-block;
  
  line-height: em($height--b);
  @include padding(null em($ratio--b));
  margin-bottom: -$line--s;

  text-decoration: none;
}
.o-tabs__content {
  display: none;
  width: 100%;
  border-top: $line--s solid $c-grey2;
}

// Tab states.
.tab--is-active {
  background-color: $c-active--light;
  @include state--all {
    color: $c-active--dark;
    border-bottom: $line--s solid $c-active;
  }
}
.tab--is-open {
  display: block;
  float: left;
}