html,
body {
  height: 100%;
}
body {
  overflow-y: scroll;
}
hr {
  border-top: $line--s solid;
  border-bottom: none;
  @include margin(em($ratio--b) null);
  @include rgba(border-color, $c-grey4, .5);
}
img {
  display: block;
}
canvas,
iframe {
  display: block;
  width: 100%;
}
table {
  width: 100%;
}
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
}