body {
  font: $default__weight em($default__size, 16) $default__family;
  line-height: $default__leading;
}
::selection {
  background-color: $c-select__background;
  color: $c-select__text;
  text-shadow: none;
}