body {
  font: $default__weight em($default__size, 16) $default__family;
  line-height: $default__leading;
}
::selection {
  background-color: $c-select--bg;
  color: $c-select--text;
  text-shadow: none;
}