/*
Accordion

Markup:
<dl class="o-accordion" data-accordion>
  <dt class="o-accordion__title">
    <a href="#" class="o-accordion__link" data-accordion-opened>Opened item</a>
    <dd class="o-accordion__content">Content</dd>
  </dt>
  <dt class="o-accordion__title">
    <a href="#" class="o-accordion__link">Accordion item</a>
    <dd class="o-accordion__content">Content</dd>
  </dt>
  <dt class="o-accordion__title">
    <a href="#" class="o-accordion__link">Accordion item</a>
    <dd class="o-accordion__content">Content</dd>
  </dt>
</dl>

Styleguide 4.50.
*/

.o-accordion__title {
  background-color: chroma(0, 000);
  border-radius: $radius--b;

  .o-accordion__content + & {
    margin-top: sem(xs);
  }
}

.o-accordion__link {
  display: block;

  line-height: sheight(b);
  @include padding(null sem(b));

  text-decoration: none;

  .accordion--is-active & {
    @include state--all {
      color: chroma(1, 700);
    }
  }
}

.o-accordion__content {
  @include margin(sem(s) null sem(m) sem(b));
}

.accordion--is-active {
  background-color: chroma(1, 300);
}
