/*
Accordion

Markup:
<dl class="o-accordion" data-accordion>
  <dt class="o-accordion__title">
    <a href="#" class="o-accordion__link" data-accordion-opened>Opened item</a>
    <dd class="o-accordion__content">Content</dd>
  </dt>
  <dt class="o-accordion__title">
    <a href="#" class="o-accordion__link">Accordion item</a>
    <dd class="o-accordion__content">Content</dd>
  </dt>
  <dt class="o-accordion__title">
    <a href="#" class="o-accordion__link">Accordion item</a>
    <dd class="o-accordion__content">Content</dd>
  </dt>
</dl>

Styleguide 4.50.
*/

.o-accordion__title {
  background-color: $grey--000;
  border-radius: $radius--b;

  .o-accordion__content + & {
    margin-top: em($ratio--xs);
  }
}

.o-accordion__link {
  display: block;

  line-height: em($height--b);
  @include padding(null em($ratio--b));

  text-decoration: none;

  .accordion--is-active & {
    @include state--all {
      color: $color1--700;
    }
  }
}

.o-accordion__content {
  @include margin(em($ratio--s) null em($ratio--m) em($ratio--b));
}

.accordion--is-active {
  background-color: $color1--300;
}
