/*
Button group

.o-button-group--inline - Inline buttons.
.o-button-group--stacked - Stacked buttons.

Markup:
<div class="{{modifier_class}}">
  <a href="#" class="o-button--solid">Button</a>
  <a href="#" class="o-button--outline">Button</a>
</div>

Styleguide 4.2.
*/

.o-button-group--inline {
  [class^="o-button--"],
  [class*=" o-button--"] {
      margin-left: sem(xs);

      &:first-child {
        margin-left: 0;
      }
  }
}

.o-button-group--stacked {
  text-align: center;

  [class^="o-button--"],
  [class*=" o-button--"] {
    display: block;
    
    margin-top: sem(s);
    
    &:first-child {
      margin-top: 0;
    }
  }
}
