/*
Button

.o-button--solid - Solid background.
.o-button--outline - Outline variant.
.o-button--block.o-button--outline - Full-width, e.g. outline.
.o-button--selected - Selected.

Markup:
<a href="#" class="{{modifier_class}}">Button</a>

Styleguide 4.1.
*/

[class^="o-button--"],
[class*=" o-button--"] {
  display: inline-block;

  padding-left: sem(m);
  padding-right: sem(m);

  line-height: sheight(b);
  
  border-radius: $radius--b;

  text-decoration: none;
}

.o-button--solid {
  @include state--link {
    color: white;
    background-color: $c-link;
  }
  @include state--active {
    color: white;
    background-color: $c-hover;
  }
}

// Outline border.
.o-button--outline {
  border: $stroke--b solid;
  line-height: sheight(b) - em($stroke--b * 2);
  
  @include state--link {
    color: $c-link;
  }
  @include state--active {
    color: $c-hover;
  }
}

// Block, centered text.
.o-button--block {
  display: block;
  
  text-align: center;
}

// Selected.
.o-button--selected {
  @include state--all {
    background-color: chroma(0, 100);
    color: chroma(0, 300);
  }
}
