/*
Carousel

Using Swiper Javascript library, pretty much identical to o-slider. Example with Featherlight links inside. Customize by defining item width.

Markup:
<div class="o-carousel swiper-container" data-carousel>
  <ul class="o-carousel__list swiper-wrapper">
    <li class="o-carousel__item swiper-slide">
      <a href="http://unsplash.it/800/500/?random" class="o-carousel__link" data-featherlight="image">
        <img class="o-carousel__image" src="http://unsplash.it/600/300/?random" alt="Carousel image">
      </a>
    </li>
    <li class="o-carousel__item swiper-slide">
      <a href="http://unsplash.it/800/500/?random" class="o-carousel__link" data-featherlight="image">
        <img class="o-carousel__image" src="http://unsplash.it/600/300/?random" alt="Carousel image">
      </a>
    </li>
  </ul>
  <a href="#" class="o-carousel__arrow--prev" data-swiper--prev>&larr;</a>
  <a href="#" class="o-carousel__arrow--next" data-swiper--next>&rarr;</a>
</div>

Styleguide 4.55.
*/

.o-carousel {
  user-select: none;
  // Important to set box-sizing!
  box-sizing: content-box;
}
.o-carousel__list {
  @include reset-list;
  &:hover {
    cursor: grab;
  }
}
.o-carousel__item {
  // Add item width.

  & + & {
    padding-left: sem(b);
  }
}
.o-carousel__link {
  display: block;
  @include state--hover {
    opacity: .625;
  }
}

[class^="o-carousel__arrow"],
[class*=" o-carousel__arrow"] {
  padding: sem(b);
  text-decoration: none; 
}

.o-carousel__arrow--prev {
  .carousel--start & {
    opacity: .375;
  }
}

.o-carousel__arrow--next {
  .carousel--end & {
    opacity: .375;
  }
}
