/*
Dotlist

.o-dotlist--inside - Dots inside.
.o-dotlist--outside - Dots outside.
.o-dotlist--inline - Inline-block display.

Markup:
<ul class="{{modifier_class}}">
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>

Styleguide 4.3.
*/

[class^="o-dotlist--"],
[class*=" o-dotlist--"] {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: sem(b);
  }

  li:before {
    position: absolute;
    left: 0;

    content: "\b7\a0";
  }
}

// Inline dotlist.
.o-dotlist--inline {
  @include media($dr__portable) {
    li {
      display: inline-block;
      padding-left: sem(s);

      &:before {
        position: relative;
        margin-right: sem(s);
      }
    }

    li:first-child {
      padding-left: 0;
    }
    
    li:first-child:before {
      display: none;
    }
  }
}

// Outside bullets.
@include media($dr__portable) {
  .o-dotlist--outside {
    li {
      padding-left: 0;
    }
    li:before {
      left: -#{sem(s)};
    }
  }
}
