/*
Field

.o-field--normal - Icon always on.
.o-field--number - Hide icon on :hover and :focus.

Markup:
<div class="{$modifiers}">
  <label class="o-field__label">Label</label>
  <input type="text" placeholder="Value" class="o-field__content o-input">
  <span class="o-field__icon ss-notebook"></span>
</div>

Styleguide 4.35.
*/

[class^="o-field--"],
[class*=" o-field--"] {
  display: table;
  position: relative;
}

.o-field__label {
  display: table-cell;
  width: 1%;

  padding-right: em($ratio--b);

  white-space: nowrap;
  vertical-align: middle;
}

.o-field__content {
  display: table-cell;
  width: 100%;
  float: left;
}

.o-field__icon {
  position: absolute;
  right: em($ratio--s);
  top: 0;
  bottom: 0;

  pointer-events: none;

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

// Special number input styling.
.o-field--number {
  &:hover .o-field__icon,
  .o-field__content:focus + .o-field__icon {
    display: none;
  }
}

// Fuck Firefox.
@-moz-document url-prefix() {
  .o-field--select .o-field__icon {
    display: none;
  }
}
