/*
Form

Markup:
<form class="o-form">
  <fieldset class="o-form__fieldset">
    <legend class="o-form__legend">Fill this out, please</legend>
    <table class="o-form__table">
      <tr>
        <td>Form cell</td>
        <td>Form cell</td>
      </tr>
      <tr>
        <td>Form cell</td>
        <td>Form cell</td>
      </tr>
    </table>
  </fieldset>
</form>

Styleguide 4.36.
*/

.o-form__fieldset {
  padding: sem(b);
  margin: 0;

  border: $stroke--s solid chroma(0, 100);
  border-radius: $radius--b;
}

.o-form__table {
  td + td {
    padding-left: sem(m);
  }
  tr + tr {
    td {
      padding-top: sem(b);
    }
  }
}
