/*
Icon

.o-icon--large - Large icon.
.o-icon - Basic icon.
.o-icon--small - Small icon.

Markup:
<span class="{{modifier_class}} ss-index"></span>

Styleguide 4.20.
*/

.o-icon {
  font-size: #{$icon--b}px;
}
.o-icon--small {
  font-size: #{$icon--s}px;
}
.o-icon--large {
  font-size: #{$icon--l}px;
}
