/*
Icon button

.o-icon-button--large - Large icon size.
.o-icon-button - Default size.
.o-icon-button--small - Small icon.

Markup:
<a href="#" class="{{modifier_class}} ss-write"></a>

Styleguide 4.21.
*/

[class^="o-icon-button"],
[class*=" o-icon-button"] {
  text-decoration: none;

  &:before {
    margin-right: sem(xs);
  }
  &:after {
    margin-left: sem(xs);
  }
}

.o-icon-button {
  &:before, &:after {
    font-size: #{$icon--b}px;
  }
}

.o-icon-button--small {
  &:before, &:after {
    font-size: #{$icon--s}px;
  }
}

.o-icon-button--large {
  &:before, &:after {
    font-size: #{$icon--l}px;
  }
}
