/*
Input

Markup:
<input type="text" placeholder="Value" class="o-input">

Styleguide 4.30.
*/

.o-input {
  height: sheight(b);
  padding: 0 sem(s);

  background-color: transparent;

  border: $stroke--s solid chroma(0, 100);
  border-radius: $radius--b;
  
  @include state--hover {
    border-color: chroma(0, 300);
  }
  @include state--focus {
    border-color: chroma(1, 500);
    outline: 0;
  }
  // iOS reset.
  -webkit-appearance: none;
  
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 sem(l) chroma(0, 100) inset;
    border-color: chroma(0, 200);
  }
}
