/*
Note

.o-note - Subtle message.
.o-note--primary - Emphasized message.

Markup:
<mark class="{{modifier_class}}">Look ma, here!</mark>

Styleguide 4.5.
*/

[class^="o-note"],
[class*=" o-note"] {
  display: inline-block;
  line-height: sheight(b);

  @include padding(null sem(b));

  border-radius: $radius--b;
}

.o-note {
  background-color: chroma(0, 000);
}

.o-note--primary {
  color: chroma(1, 700);
  background-color: chroma(1, 300);
}
