/*
Note

.o-note - Important message.
.o-note--positive - Success message.

Markup:
<mark class="{$modifiers}">Look ma, here!</mark>

Styleguide 4.5.
*/

[class^="o-note"],
[class*=" o-note"] {
  display: inline-block;
  line-height: em($height--b);

  @include padding(null em($ratio--b));

  border-radius: $radius--b;
}

.o-note {
  background-color: $grey--000;
}

.o-note--positive {
  color: $color1--700;
  background-color: $color1--300;
}

// .o-note--negative {
//   color: $color-4--dark;
//   background-color: $color-4--light;
// }
