/*
Radio

Markup:
<label class="o-radio">
  <input class="o-radio__input" type="radio" name="radio-group">
  <span class="o-radio__mark"></span>
  <span class="o-radio__text">Pick me please</span>
</label>
<label class="o-radio">
  <input class="o-radio__input" type="radio" name="radio-group">
  <span class="o-radio__mark"></span>
  <span class="o-radio__text">No, pick me</span>
</label>

Styleguide 4.33.
*/

.o-radio {
  cursor: pointer;
  position: relative;
  line-height: sheight(b);
  
  & + & {
    margin-left: sem(b);
  }
}

.o-radio__input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.o-radio__mark {
  position: relative;
  display: inline-block;

  width: sem(b);
  height: sem(b);

  margin-right: sem(s);

  border: $stroke--b solid chroma(0, 200);
  border-radius: 50%;
  vertical-align: middle;

  :checked + & {
    border-color: chroma(1, 500);
    background-color: chroma(1, 300);
  }
}

.o-radio__text {
  color: chroma(0, 500);

  :checked + * + & {
    color: chroma(1, 700);
  }
}
