/*
Select

Markup:
<div class="o-select">
  <select class="o-select__content">
    <optgroup label="Awesome Group">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </optgroup>
  </select>
</div>

Styleguide 4.32.
*/

.o-select {
  display: inline-block;

  line-height: sheight(b) - em($stroke--s * 2);

  border: $stroke--s solid chroma(0, 200);
  border-radius: $radius--b;

  @include state--hover {
    border-color: chroma(0, 400);
  }
}
.o-select__content {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include padding(null sem(l) null sem(s));

  // Extremely stupid fix for Firefox styling.
  // https://bugzilla.mozilla.org/show_bug.cgi?id=649849
  text-indent: .1px;
  text-overflow: "";

  @include appearance(none);
  @include state--focus {
    outline: 0;
  }
}
