/*
Submit

.o-submit - Basic variant.
.o-submit--reset - Reset button.

Markup:
<input type="submit" class="{{modifier_class}}" value="Make it happen">

Styleguide 4.34.
*/

[class^="o-submit"],
[class*=" o-submit"] {
  height: sheight(b);
  padding: 0 sem(b);

  background-color: transparent;
  color: $c-link;

  border: $stroke--b solid;
  border-radius: $radius--b;

  @include state--hover {
    color: $c-hover;
  }
  @include state--focus {
    color: chroma(0, 900);
    outline: 0;
  }
}

.o-submit--reset {
  color: chroma(0, 400);

  @include state--hover {
    color: chroma(0, 600);
  }
}
