/*
Submit

.o-submit - Basic variant.
.o-submit--reset - Reset button.

Markup:
<input type="submit" class="{$modifiers}" value="Make it happen">

Styleguide 4.34.
*/

[class^="o-submit"],
[class*=" o-submit"] {
  height: em($height--b);
  padding: 0 em($ratio--b);

  background-color: transparent;
  color: $c-link;

  border: $line--b solid;
  border-radius: $radius--b;

  @include state--hover {
    color: $c-hover;
  }
  @include state--focus {
    color: $grey--900;
    outline: 0;
  }
}

.o-submit--reset {
  color: $grey--400;

  @include state--hover {
    color: $grey--600;
  }
}
