/*
Tabs

Markup:
<ul class="o-tabs" data-tabs>
  <li class="o-tabs__item">
    <a href="#" class="o-tabs__link">Tab title</a>
    <div class="o-tabs__content"><p>Tab content</p></div>
  </li>
  <li class="o-tabs__item">
    <a href="#" class="o-tabs__link">Tab title</a>
    <div class="o-tabs__content"><p>Another content</p></div>
  </li>
  <li class="o-tabs__item">
    <a href="#" class="o-tabs__link">Tab title</a>
    <div class="o-tabs__content"><p>Last piece of content</p></div>
  </li>
</ul>

Styleguide 4.51.
*/

.o-tabs {
  @include clearfix;
  
  padding-left: 0;
}

.o-tabs__item {
  display: inline;
}

.o-tabs__link {
  display: inline-block;
  
  line-height: sheight(b);

  @include padding(null sem(b));
  margin-bottom: -$stroke--s;

  text-decoration: none;
}

.o-tabs__content {
  display: none;
  width: 100%;

  border-top: $stroke--s solid chroma(0, 100);
}

// Tab states.
.tab--is-active {
  @include state--all {
    border-bottom: $stroke--s solid $c-active;
  }
}

.tab--is-open {
  display: block;

  float: left;
}
