/*
Tooltip

Markup:
<abbr class="o-tooltip" title="Pretty nice, right?">Hover me, pretty please</abbr>

Styleguide 4.6.
*/

.o-tooltip {
  position: relative;

  &:hover {
    cursor: help;
  }

  &:hover:after {
    position: absolute;
    bottom: srem(m) + srem(b) / 2;
    left: 0;

    content: attr(title);
    white-space: nowrap;

    line-height: sheight(b);
    @include padding(null sem(b));

    border-radius: $radius--b;
    
    color: white;
    background-color: rgba(chroma(0, 800), .85);
  }

  &:hover:before {
    position: absolute;
    bottom: srem(m);
    left: srem(b);

    content: "";
    @include triangle(srem(b), rgba(chroma(0, 800), .85), down);
  }
  
  &:after, &:before {
    font-size: sem(s, 2);
  }
}
