@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin collapse-children {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

@mixin px-rem ($property, $value) {
  #{$property}: $value * $unit--b + px;
  #{$property}: #{$value}rem;
}

@mixin reset-list {
  list-style-type: none;

  padding-left: 0;

  margin-top: 0;
  margin-bottom: 0;
}
