@mixin wrap--padding {
  padding: em($ratio--b);
  @include media($phablet) {
    padding: em($ratio--m);
  }
  @include media($tablet) {
    padding: em($ratio--l);
  }
  @include media($desktop) {
    padding: em($ratio--l) 6.5%;
  }
  @include media($widescreen) {
    padding: em($ratio--l) 10%;
  }
}

@mixin wrap--margin {
  margin: em($ratio--b);
  @include media($phablet) {
    margin: em($ratio--m);
  }
  @include media($tablet) {
    margin: em($ratio--l);
  }
  @include media($desktop) {
    margin: em($ratio--l) 6.5%;
  }
  @include media($widescreen) {
    margin: em($ratio--l) 10%;
  }
}
