section(data-name="typography")
  each instance in headlines
    #{instance.tag}(class="t-head--#{instance.class}"): +dummy(5, "words")
    if (instance.tag === "h1")
      p.t-lead: +dummy(10)
    else if (instance.tag === "h5" || instance.tag === "h6")
      p.t-small: +dummy(30)
    else
      p: +dummy(20)
