/*
Section

Added padding for styleguide purposes.

.l-section--light - Light background.
.l-section--dark - Dark background.
.l-section--black - Very dark background.

Markup:
<div class="{{modifier_class}}">A new section of layout.</div>

Styleguide 2.5.
*/

.l-section--light {
  background-color: chroma(0, 000);

  color: chroma(0, 400);
}
.l-section--dark {
  background-color: chroma(0, 500);

  color: chroma(0, 200);
}
.l-section--black {
  background-color: chroma(0, 700);

  color: chroma(0, 400);
}
