/*
Spacer

.l-spacer - Invisible horizontal rule, default styling.
.l-spacer--big - Bigger margin.
.l-spacer--small - Smaller margin.

Markup:
<hr class="{{modifier_class}}">

Styleguide 2.4.
*/

[class^="l-spacer"],
[class*=" l-spacer"] {
  height: sem(l);
  
  border: none;
  margin: 0;
}

.l-spacer--big {
  height: sem(xl);
}
.l-spacer--small {
  height: sem(m);
}
