/*
Wrap

Added offwhite background for styleguide purposes.

.l-wrap - Regular variant.
.l-wrap--no-top - No top padding.
.l-wrap--no-bottom - No bottom padding.

Markup:
<div class="{{modifier_class}}">Text.</div>

Styleguide 2.1.
*/

[class^="l-wrap"],
[class*=" l-wrap"] {
  margin-right: auto;
  margin-left: auto;
  
  @include clearfix;
  @include reset-children;
}

.l-wrap {
  padding: sem(b, 2);

  @include media($bp__phablet) {
    padding: sem(m);
  }
  @include media($bp__tablet) {
    padding: sem(l);
  }
  @include media($bp__desktop) {
    padding: sem(xl);
  }
}

.l-wrap--no-top {
  padding-top: 0;
}
.l-wrap--no-bottom {
  padding-bottom: 0;
}
