section(data-name="typography")
  each instance in ["h1", "h2", "h3", "h4"]
    #{instance}(class="t-#{instance}"): +dummy(5, "words")
    if (instance === "h1")
      p.t-lead: +dummy(2)
    else if (instance === "h4")
      p.t-small: +dummy(4)
    else
      p: +dummy(3)