/*
Align

.p-pad--1 - Padded from all sides.
.p-pad--20 - Padding applied to verticals only.
.p-pad--03 - Padding applied to horizontals only.
.p-pad--0004 - Padded only from one side.

Markup:
<div class="{{modifier_class}}">Padded element.</div>

Styleguide 5.2.
*/

// All directions
.p-pad--1 {
  padding: sem(s);
}
.p-pad--2 {
  padding: sem(b);
}
.p-pad--3 {
  padding: sem(m);
}
.p-pad--4 {
  padding: sem(l);
}

// Vertical
.p-pad--10 {
  @include padding(sem(s) null);
}
.p-pad--20 {
  @include padding(sem(b) null);
}
.p-pad--30 {
  @include padding(sem(m) null);
}
.p-pad--40 {
  @include padding(sem(l) null);
}

// Horizontal
.p-pad--01 {
  @include padding(null sem(s));
}
.p-pad--02 {
  @include padding(null sem(b));
}
.p-pad--03 {
  @include padding(null sem(m));
}
.p-pad--04 {
  @include padding(null sem(l));
}

// Top
.p-pad--1000 {
  padding-top: sem(s);
}
.p-pad--2000 {
  padding-top: sem(b);
}
.p-pad--3000 {
  padding-top: sem(m);
}
.p-pad--4000 {
  padding-top: sem(l);
}

// Right
.p-pad--0100 {
  padding-right: sem(s);
}
.p-pad--0200 {
  padding-right: sem(b);
}
.p-pad--0300 {
  padding-right: sem(m);
}
.p-pad--0400 {
  padding-right: sem(l);
}

// Bottom
.p-pad--0010 {
  padding-bottom: sem(s);
}
.p-pad--0020 {
  padding-bottom: sem(b);
}
.p-pad--0030 {
  padding-bottom: sem(m);
}
.p-pad--0040 {
  padding-bottom: sem(l);
}

// Left
.p-pad--0001 {
  padding-left: sem(s);
}
.p-pad--0002 {
  padding-left: sem(b);
}
.p-pad--0003 {
  padding-left: sem(m);
}
.p-pad--0004 {
  padding-left: sem(l);
}
