/*
Push

.p-push--auto - Horizontal margins set to auto.
.p-push--1 - Margin from all sides.
.p-push--20 - Margin applied to verticals only.
.p-push--03 - Margin applied to horizontals only.
.p-push--0004 - Margin only from one side.

Markup:
<div class="{{modifier_class}}">Offset element.</div>

Styleguide 5.3.
*/

.p-push--auto {
  @include margin(null auto);
}

// All directions
.p-push--1 {
  margin: sem(s);
}
.p-push--2 {
  margin: sem(b);
}
.p-push--3 {
  margin: sem(m);
}
.p-push--4 {
  margin: sem(l);
}

// Vertical
.p-push--10 {
  @include margin(sem(s) null);
}
.p-push--20 {
  @include margin(sem(b) null);
}
.p-push--30 {
  @include margin(sem(m) null);
}
.p-push--40 {
  @include margin(sem(l) null);
}

// Horizontal
.p-push--01 {
  @include margin(null sem(s));
}
.p-push--02 {
  @include margin(null sem(b));
}
.p-push--03 {
  @include margin(null sem(m));
}
.p-push--04 {
  @include margin(null sem(l));
}

// Top
.p-push--1000 {
  margin-top: sem(s);
}
.p-push--2000 {
  margin-top: sem(b);
}
.p-push--3000 {
  margin-top: sem(m);
}
.p-push--4000 {
  margin-top: sem(l);
}

// Right
.p-push--0100 {
  margin-right: sem(s);
}
.p-push--0200 {
  margin-right: sem(b);
}
.p-push--0300 {
  margin-right: sem(m);
}
.p-push--0400 {
  margin-right: sem(l);
}

// Bottom
.p-push--0010 {
  margin-bottom: sem(s);
}
.p-push--0020 {
  margin-bottom: sem(b);
}
.p-push--0030 {
  margin-bottom: sem(m);
}
.p-push--0040 {
  margin-bottom: sem(l);
}

// Left
.p-push--0001 {
  margin-left: sem(s);
}
.p-push--0002 {
  margin-left: sem(b);
}
.p-push--0003 {
  margin-left: sem(m);
}
.p-push--0004 {
  margin-left: sem(l);
}
