// Bases
$base-1: 16;
$base-2: 18;

// Multipliers
// https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_modular-scale.scss
$multi-1: $minor-sixth;
$multi-2: $major-second;

// Scales
$scales: (
  1: (
    xl: round(modular-scale(+3, $base-1, $multi-1)),
    l:  round(modular-scale(+2, $base-1, $multi-1)),
    m:  round(modular-scale(+1, $base-1, $multi-1)),
    b:  $base-1,
    s:  round(modular-scale(-1, $base-1, $multi-1)),
    xs: round(modular-scale(-2, $base-1, $multi-1))
  ),
  2: (
    m:  round(modular-scale(+1, $base-2, $multi-2)),
    b:  $base-2,
    s:  round(modular-scale(-3, $base-2, $multi-2))
  )
);
