extends ../templates/_site

block template-content
  #js-smoothstate.l-wrap
    .smoothstate-animate
      img(src="http://unsplash.it/300/200/?image=200", alt="unsplash.it")
    a.o-button(href="../index") Back
