@mixin bottom-radius($value) {
  border-bottom-left-radius: $value;
  border-bottom-right-radius: $value;
}
@mixin top-radius($value) {
  border-top-left-radius: $value;
  border-top-right-radius: $value;
}
@mixin left-radius($value) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}
@mixin right-radius($value) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}
@mixin stretch-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin collapse-children {
  & > :first-child {margin-top: 0; }
  & > :last-child {margin-bottom: 0; }
}
@mixin pseudo-center--parent {
  &:before {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
}
@mixin pseudo-center--child {
  display: inline-block;
  vertical-align: middle;
}
@mixin list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@mixin link-underline {
  text-decoration: none;
  border-bottom: 1px solid;
}
@mixin state--link {
  &:link,
  &:visited {
    @content
  }
}
@mixin state--hover {
  &:hover,
  &:active {
    @content
  }
}
@mixin state--active {
  &:hover,
  &:active,
  &:focus {
    @content
  }
}
@mixin state--focus {
  &:focus {
    @content
  }
}
@mixin state--all {
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    @content
  }
}
@mixin px-rem ($property, $value) {
  #{$property}: $value * $unit--b + px;
  #{$property}: #{$value}rem;
}
@mixin rgba ($property, $color, $opacity) {
  #{$property}: $color;
  #{$property}: rgba($color, $opacity);
}

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}