$hue-1: 90;
$hue-2: 160;
$hue-3: 50;

// Primary colors.
$color-1--light:   hsb($hue-1, 060, 095);
$color-1:          hsb($hue-1, 070, 075);
$color-1--dark:    hsb($hue-1, 060, 065);

$color-2--lighter: hsb($hue-2, 050, 100);
$color-2--light:   hsb($hue-2, 065, 095);
$color-2:          hsb($hue-2, 070, 080);
$color-2--dark:    hsb($hue-2, 070, 070);
$color-2--darker:  hsb($hue-2, 075, 060);

$color-3--light:   hsb($hue-3, 055, 095);
$color-3:          hsb($hue-3, 065, 090);
$color-3--dark:    hsb($hue-3, 070, 080);

// Neutral colors.
$grey-1: hsb(210, 02, 96);
$grey-2: hsb(210, 03, 85);
$grey-3: hsb(210, 04, 74);
$grey-4: hsb(210, 05, 63);
$grey-5: hsb(210, 06, 52);
$grey-6: hsb(210, 07, 41);
$grey-7: hsb(210, 08, 30);
$grey-8: hsb(210, 09, 19);
$grey-9: hsb(210, 09, 08);

// // Interactive.
$c-link: $color-1;
$c-link--light: $color-1--light;
$c-link--dark: $color-1--dark;

$c-visited: $color-2;
$c-hover: $color-2;

$c-active: $color-3;
$c-active--light: $color-3--light;
$c-active--dark: $color-3--dark;

$c-select__background: $color-2--light;
$c-select__text: $color-2--dark;
