/*
Headlines

.t-head--top - First headline.
.t-head--high - Third headline.
.t-head--low - Fourth headline.
.t-head--bottom - Sixth headline. 

Markup:
<h1 class="{{modifier_class}}">Headline</h1>

Styleguide 3.1.
*/

.t-head--top {
  font-size: sem(l);

  @include margin(sem(s) null);
}

.t-head--high {
  font-size: sem(m);
}

.t-head--low {
  font-size: sem(m, 2);

  @include margin(sem(b) null);
}

.t-head--bottom {
  font-size: sem(b, 2);

  @include margin(sem(s) null);
}
