/*
Text size

.t-text--lead - Large introductory text.
.t-text--small - Smaller text.
.t-text--tiny - Unimportant text.

Markup:
<p class="{{modifier_class}}">A somewhat long and pretty readable paragraph.</p>

Styleguide 3.3.
*/

.t-text--lead {
  font-size: sem(m);
}

.t-text--small {
  font-size: sem(s, 2);
}

.t-text--tiny {
  font-size: sem(s);
}
