extends templates/_basic

append template-head
  <!-- build:css assets/css/styleguide-min.css -->
  link(rel="stylesheet", href="assets/css/styleguide.css")
  <!-- endbuild -->

block template-body

  include styleguide/_color
