// Headlines.
//
// Markup:
// <h1 class="t-h1">First Headline</h1>
// <h2 class="t-h2">Second Headline</h2>
// <h3 class="t-h3">Third Headline</h3>
// <h4 class="t-h4">Fourth Headline</h4>
//
// Styleguide 0.2.
.t-h1 {
  font-size: em($ratio--l);
  line-height: $spacing--xxs;
  @include margin(em($ratio--s) null);
}
.t-h2 {
  font-size: em($ratio--m);
  line-height: $spacing--xs;
  @include margin(em($ratio--b) null);
}
.t-h3 {
  font-size: em($unit--l);
  line-height: $spacing--s;
}
.t-h4 {
  font-size: em($unit--m);
  @include margin(em($ratio--b) null);
}